// $bgColor: #040305; //background
// $surface: #1c1d33; //above bg by a layer
// $surfaceV: #211c33; //above bg by 2 layers
// $surfaceVV: #3b2442; //above by 3 layers
// $primary: #a6aaff; //vibrant color to attract attention
// $primaryV: #393d80; //serve three surfaces
// $secondary: #fff; //text color

// $bgColor: #040305; //background
// $surface: #191d32; //above bg by a layer
// $surfaceV: #282f44; //above bg by 2 layers
// $surfaceVV: #453a49; //above by 3 layers
// $primary: #c1dae8; //vibrant color to attract attention
// $primaryV: #c7faff; //serve three surfaces
// $secondary: #fff; //text color

$bgColor: #040305; //background
$surface: #241012; //above bg by a layer
$surfaceV: #1a0c0d; //above bg by 2 layers
$surfaceVV: #8c3b42; //above by 3 layers
$primary: #8c3b42; //vibrant color to attract attention
$primaryV: #ff6b77; //serve three surfaces
$secondary: #fff; //text color
